<div class="b-tabs-wrap">
  <div class="b-tabs">

{{product.description}}

  </div>
  <!-- /.b-tabs -->
</div>
<!-- /.b-tabs-wrap -->

<script>

  function productTabs () {
    $('.b-tabs').before('<div class="b-tabs__header"/>');
    var tabSections = $('.tab-section').hide();
    tabSections.each(function(index) {
      var index = index + 1;
      $(this).attr('id', 'toTab_'+ index +'');
      var tabSwitcher = '<a class="tab-switch  '+ $(this).data('title')+'" href="#toTab_'+ index +'">' + $(this).data('title') +' </a>';
      $(this).before(tabSwitcher);
      $('.b-tabs__header').append(tabSwitcher);
    });
    tabSections.first().show();
  }

  function productTabsSwitch(){
    var url = $('.video iframe').attr('src');
    var tabSwitchItems = $('.tab-switch');
    tabSwitchItems.first().addClass('active');
    $('#toTab_1').prev().addClass('active')
    tabSwitchItems.click(function(event) {
      event.preventDefault();
      $(this).addClass('active').siblings('.tab-switch').removeClass('active');
      var needBlock = $(this).attr('href');
      $('.tab-section').hide();
      $(needBlock).fadeIn();
      if (!$('.video').is(':visible')) {
        $('.video iframe').attr('src', '');
      }
      else{
        $('.video iframe').attr('src', url);
      }
    });
  }

  productTabs();
  productTabsSwitch()

</script>
