.product {
  &--main {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1 1 45%;
    }

    & div.product--nav, & > h1 {
      flex: 1 1 100%;
    }
  }

  &--title__mobile {
    display: none;
  }
}

#product-photo-container {
  width: 100%;

  & img {
    width: 100%;
  }
}

/* phone devices */
@media only screen and (max-width: 480px) {
  .product {
    &--main {
      flex-direction: column;
    }

    &--details {
      & > div {
        order: 3;
      }

      & div.product--prices {
        order: 0;
      }

      & div.product--submit {
        order: 1;
      }

      & div.product--info {
        order: 2;
      }
    }

    &--share, &--reviews {
      display: none;
    }

    &--title__mobile {
      display: block;
    }
  }


  .product-prices,
  .main-title,
  .main-vendor,
  .b-next-prev-product {
    display: none;
  }
}
