.product {
  &--nav {
    display: flex;

    div {
      flex: 1;
    }

    &__prev {
      text-align: left;
    }

    &__next {
      text-align: right;
    }
  }

  &--main {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1 1 45%;
    }

    & div.product--nav, & > h1 {
      flex: 1 1 100%;
    }
  }

  &--title__mobile, &--share__mobile {
    display: none;
  }
}

.select-wrappers {
  display: flex;
  flex-direction: column;
}

#product-photo-container {
  width: 100%;

  & img {
    width: 100%;
  }
}

[data-title="Description"] {
  display: none;
}

/* phone devices */
@media only screen and (max-width: 480px) {
  .product {
    &--main {
      flex-direction: column;
    }

    &--details {
      & > div {
        order: 3;
      }

      & div.product--prices {
        order: 0;
      }

      & div.product--submit {
        order: 1;
      }

      & div.product--info {
        order: 2;
      }
    }

    &--options {
      & .swatch {
        display: flex;
        flex-wrap: wrap;

        &-element {
          flex: 1;
        }
      }

      & .header {
        flex-basis: 100%;
      }
    }

    &--share, &--reviews, &--security, &--details h1.main-title, &--description {
      display: none;
    }

    &--title__mobile, &--share__mobile {
      display: block;
    }
  }

  /* Overrides */
  #product-content .select-wrappers .swatch {
    float: none;
    width: auto;
  }

  [data-title="Description"] {
    display: block;
  }
}
